<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>RockStud Guitar Strap</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/src/dist/css/style.css" />
    <script type="text/javascript" src="http://valentinowechat.samesamechina.com/api/v1/js/80c73ea5-de82-4aff-98ff-fd79aad6041d/wechat"></script>
    <script src="/src/assets/js/lib/zepto.min.js"></script>
    <script src="/src/assets/js/lib/pre-loader.js"></script>
    <script src="/src/assets/js/rem.js"></script>
    <script src="/src/assets/js/common.js"></script>
    <script src="/src/assets/js/api.js"></script>
    <script src="/src/assets/js/home.js"></script>
</head>
<body class="page-home">
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content">
        <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">请在解锁模式下使用竖屏浏览</div>
    </div>
</div>
<!--main content-->
<div class="wrapper">
    <div class="container animate">
        <div class="pin pin-1 current" id="landing-page">
            <div class="layer-bg">
                <div class="lbg bg-1">
                    <div class="color-area orange"></div>
                    <div class="pipe">
                        <img src="/src/dist/images/pipe-2.png" alt=""/>
                    </div>
                </div>
                <div class="lbg bg-2">
                    <div class="color-area blue"></div>
                    <div class="pipe">
                        <img src="/src/dist/images/pipe-1.png" alt=""/>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="logo">
                    <img src="/src/dist/images/logo.png" alt="valentino"/>
                </div>
                <div class="p1-t1">
                    <img src="/src/dist/images/p1-t1.png" alt="精致刺绣，魅惑无限"/>
                </div>
                <div class="video-wrap">
                    this is video
                </div>
                <div class="btn btn-start-custom">开启定制</div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
