//
html,body{
  width: 100%;
  height: 100%;
  background: green;
}
//wrapper
.wrapper,.container{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  @include size(100%,100%);
}

.pin{
  //opacity: 0;
  display: none;
  z-index: -10;
  position: absolute;
  left: 0;
  top: 0;
  @include size(100%,100%);
  overflow: hidden;
  box-sizing: border-box;
  &.current{
    display: block;
    z-index: 1;
  }
}


.title{
  font-size: 0.24rem;
  text-align: center;
  margin: 0.2rem auto;
}

.logo{
  @include size(3.33rem,0.94rem);
  padding-top: 0.4rem;
  margin: 0 auto 0.4rem;
}
.btn{
  text-align: center;
  span{
    display: inline-block;
    padding: 0.2rem 1rem;
    background: #6c0000;
    color: #f95f60;
    font-size: 0.32rem;
    &:active{
      background: #350000;
      color: #efc8c8;
    }
  }
}

//verticle align
.v-content{
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%,-50%));
}

//for home page
#pin-home{
  .bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    img{
      height: 100%;
    }
  }
  .title{
    position: absolute;
    top: -0.3rem;
    @include size(7.5rem,12.04rem);
    left: 50%;
    @include transform(translateX(-50%));
    z-index: 2;
    margin: 0;
  }
  .tips{
    position: absolute;
    top: 2.2rem;
    left: 50%;
    @include size(2.86rem,1.05rem);
    @include transform(translate(-50%,0));
    z-index: 3;
  }
  .content{
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 50%;
    @include transform(translateX(-50%));
    @include size(7.5rem,12.04rem);
  }
}

//for game page
#pin-game{
  border-right: #582b0b 1px solid;
  border-left: #582b0b 1px solid;
  background: #944e1e;
  .pin-content{
    .role{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      @include size(100%,1.3rem);
      overflow: hidden;
      -webkit-mask-size: 100% 100%;
      -webkit-mask-position: 0% 0; //show
      -webkit-mask-image: url('../images/mask.png');
      -webkit-mask-repeat: no-repeat;
      //background: rgba(255,0,0,0.5);
      .role-progress{
        position: absolute;
        left: 0;
        bottom: 0;
        @include size(3.66rem,1.3rem);
        overflow: hidden;
        @include transition(all 4s linear);
        &.longtime{
          //@include transition(all 3s linear);
        }
        &.shorttime{
          //@include transition(all 1s linear);
        }
        &.change{
          @include transform(rotateY(180deg));
        }
        &.changedirection{
          @include transform(rotateY(30deg) skewY(-10deg));
        }
        img{
          width: auto;
          height: 100%;
        }
      }
      &.go-left{
        @include transform(rotateY(180deg));
      }
      &.floor2mask{
        -webkit-mask-image: url('../images/mask-floor2.png');
      }
      &.floor3mask{
        height: 3.7rem;
        -webkit-mask-image: url('../images/mask-floor3.png');
      }
    }
  }
  .screen{
    position: relative;
    border: #582b0b 1px solid;
    margin-bottom: 0.15rem;
    width: 7.02rem;
    height: 3.7rem;
    text-align: center;
    .l-bg{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
    }
    //.l-bg2{
    //  position: absolute;
    //  left: 0;
    //  top: 0;
    //  z-index: 2;
    //}
    .pipe{
      position: absolute;
      right: -0.18rem;
      bottom: 0.05rem;
      @include size(1.36rem,4.83rem);
      background: url('../images/pipe.png') no-repeat;
      background-size: 100%;
    }
    .pipe-bg{
      z-index: 9;
    }
    //z-index large than role
    .pipe-cover{
      z-index: 11;
      background-position: 0 100%;
    }
    .level{
      position: absolute;
      bottom: 0;
      width: 1.31rem;
      height: 2.9rem;
      left: 3.2rem;
      z-index: 3;
      &.after{
        left: 2.4rem;
        width: 2.98rem;
        height: 4.8rem;
      }
    }

    &.screen-1{
      margin-bottom: 0;
      background: url("../images/1floorbg.jpg") no-repeat;
      background-size: 100%;
    }
    &.screen-2{
      background: url("../images/2floorbg.jpg") no-repeat;
      background-size: 100%;
      .l-bg{
        opacity: 0;
        display: none;
        &.current{
          opacity: 1;
          display: block;
        }
      }
      .l-bg1{
        width: 100%;
        height: 100%;
        background: url("../images/floo2-before.png") no-repeat;
        background-size: 400% 500%;
        background-position: 0 0;
        //@include animation(floor2before 3s steps(19) infinite);

        @include keyframes(floor2before){
          $alllength:19;
          //@for $i from 0 through $alllength {
          //  $p: percentage(($i) / ($alllength));
          //  $posx:if($i%4==0,0,percentage(($i%4)/3));
          //  $posy:percentage(floor(($i)/4)*1/4);
          //  #{$p} {
          //    background-position: $posx $posy;
          //  }
          //}
          //0%{
          //
          //}
          //50%{
          //
          //}
          100%{
            background-position:0% 100%;
          }

        }
      //  end floor2before keyframe

      }
      .l-bg2{
        width: 100%;
        height: 100%;
        background: url("../images/floo2-before.png") no-repeat;
        background-size: 400% 500%;
        background-position: 0 0;
      }


      .pipe{
        left: -0.18rem;
        transform: rotateZ(180deg);
      }
      .level{
        opacity: 0;
        left: 2rem;
        top: .2rem;
        @include size(1.86rem,1.7rem);
        background: url('../images/text-2.png') 0 50% no-repeat;
        background-size: 100% 300%;
        @include transition(opacity 1s linear);
        &.fadein{
          opacity: 1;
        }
      }
    }
    &.screen-3{
      background: url("../images/3floorbg.jpg") no-repeat;
      background-size: 100%;
      .arrow{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }
      .l-bg{
        .p1{
          position: absolute;
          top: 1.18rem;
          left: 2.98rem;
          @include size(0.26rem,0.58rem);
          @include transform-origin(50% 100%);
          @include animation(lefttoright 1s linear infinite);

          @include keyframes(lefttoright){
            0%{
              @include transform(rotate(0deg));
            }
            50%{
              @include transform(rotate(10deg));
            }
            100%{
              @include transform(rotate(0deg));
            }
          }
        }
      }
      //
      .level{
        opacity: 0;
        left: 3.2rem;
        top: 0.3rem;
        @include size(1.86rem,1.7rem);
        background: url('../images/text-2.png') 0 0% no-repeat;
        background-size: 100% 300%;
        @include transition(opacity 1s linear);
        &.fadein{
          opacity: 1;
        }
      }

    }
  }
}


//for dialogue
.dialogue{
  display: none;
  @include size(6rem,4rem);
  position: absolute;
  z-index: 11;
  #floor1 &{
    left: 1.5rem;
    bottom: 1.2rem;
  }
  #floor2 &{
    left: 0.25rem;
    bottom: 1.2rem;
  }
  #floor3 &{
    left: 0.6rem;
    bottom: -3.3rem;
  }
  &.show{
    display: block;
  }
  .dialogue-bg{
    position: absolute;
    left: 0;
    top: 0;
    @include size(6rem,4rem);
    z-index: 1;
  }
  .dialogue-tips{
    position: relative;
    left: 2.4rem;
    top: 0.6rem;
    z-index: 2;
    @include size(4.04rem,1.95rem);
    background-image: url('../images/dialogue-content-text.png');
    background-repeat: no-repeat;
    background-size: 100%;
    #floor1 &{
      background-position: 0 0;
    }
    #floor2 &{
      background-position: 0 45%;
    }
    #floor3 &{
      background-position: 0 100%;
      left: 1.5rem;
      top: 1.2rem;
    }
  }
  .dialogue-btn{
    position: relative;
    left: 3rem;
    margin-top: 0.7rem;
    z-index: 2;
    background: #cd1350;
    @include size(2.4rem,0.75rem);
    border-radius:20px;
    border: #5c2c14 2px solid;
    box-sizing: border-box;
    span{
      display: block;
      position: absolute;
      bottom: 0.05rem;
      left: -0.04rem;
      @include size(2.4rem,0.75rem);
      border-radius:20px;
      border: #5c2c14 2px solid;
      box-sizing: border-box;
      background-color: #f4407b;
      background-image: url('../images/dialogue-btn-text.png');
      background-repeat: no-repeat;
      background-size: auto 300%;
      background-position: 0.35rem -10%;
      @include animation(btnAni 1s steps(2) infinite);
      #floor1 &{
        background-position: 0.6rem 83%;
      }
      #floor2 &{
        background-position: 0.6rem -10%;
      }
      #floor3 &{
        background-position: 0.28rem 33%;
      }
    }
    @include keyframes(btnAni){
      0%{
        background-color: #cd1350;
        bottom: -0.04rem;
      }
      100%{
        background-color: #f4407b;
        bottom: 0.1rem;
      }
    }
  }
  #floor1 &{
    left: 1.2rem;
    bottom: 2.3rem;
  }
}

//floor1
#floor1{

}

//for pin3
#pin-surprise{
  .result-bg{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .result-wrap{
    position: absolute;
    left: 0;
    top: 0;
    @include size(7.5rem,12.04rem);
    z-index: 2;
  }
  .result-content{
    position: absolute;
    left: 50%;
    top: 3.9rem;
    margin-left: -1.7rem;
    z-index: 3;
    @include size(3.4rem,5.2rem);
  }
  .result{
    display: none;
    &.show{
      display: block;
    }
  }
  .btn{
    position: relative;
    background: #b7731b;
    border: #5c2c14 2px solid;
    span{
      padding: 0;
      display: block;
      position: absolute;
      @include size(100%,100%);
      left: -0.04rem;
      top: -0.04rem;
      background: #e1a83b;
      border: #5c2c14 2px solid;
      color: #fff;
      font-size: 0.7rem;
      font-weight: bold;
      @include animation(tbAni 1s steps(2) infinite);
      @include keyframes(tbAni){
        0%{
          top: -0.04rem;
          background: #b7731b;
        }
        100%{
          top: -0.25rem;
          background: #e1a83b;
        }
      }
    }
  }
  .result-open{
    display: none;
    .ot{
      @include size(1.72rem,1rem);
      margin: 0 auto;
    }
    .btn{
      @include size(1.5rem,1.5rem);
      border-radius: 100%;
      margin: 0.55rem auto;
      span{
        //@include size(1.5rem,1.5rem);
        border-radius: 100%;
        line-height: 1.5rem;
        top: -0.25rem;
      }
    }
  }
//  result
  .btn-exchange{
    @include size(2.7rem,0.8rem);
    border-radius: 20px;
    margin: 0 auto;
    span{
      @include size(2.7rem,0.8rem);
      border-radius: 20px;
      line-height: 0.8rem;
      font-size: 0.36rem;
    }
  }
//  result1
  .result-1{
    .r-img{
      @include size(2.75rem,3.3rem);
      margin: 0 auto 0.6rem;
    }

  }
  .result-2{
    .r-img{
      @include size(3.36rem,3.28rem);
      margin: 0 auto 0.6rem;
    }

  }
  .result-3{
    .r-img{
      @include size(2.64rem,3.36rem);
      margin: 0 auto 0.6rem;
    }

  }

  .qrcode{
    display: none;
    .r-img{
      @include size(2.14rem,3.96rem);
      margin: 0.6rem auto;
    }
    .btn-exchange{
      margin-top: 2.1rem;
    }
  }
}

//for bgm
.icon-bgm{
  position: absolute;
  @include size(1rem,1rem);
  right: 0.1rem;
  top: 0.1rem;
  z-index: 100;
  background: green;
  border-radius: 100%;
  &.play{
    @include animation(circleTransform 3s linear infinite);
  }
  @include keyframes(circleTransform){
    0%{
      @include transform(rotate(0deg));
    }
    100%{
      @include transform(rotate(360deg));
    }
  }
}