//for match page
#match-page{
  .btn{
    width: 2.6rem;
    background: #9e7a59;
    padding: 0.1rem;
    font-size: 0.32rem;
    color: #fff;
    margin: 0.35rem auto 0;
    a{
      text-decoration: none;
      color: #fff;
      background-position: 0.5rem 34%;
    }
  }
  .p3-t2{
    @include size(3.11rem,0.59rem);
  }
  .generate-show{
    width: 6.13rem;
    height: 7.2rem;
    background: #f4f4f6;
    border: #fff 10px solid;
    .pipe{
      img{
        width: auto;
        height: 7.2rem;
        margin: 0 auto;
      }
    }
  }
}
.swiper-container {
  width: 100%;
  //height: 7.12rem;
}
#match-list{
  .nickname{
    text-align: center;
    color: #000;
    font-size: 0.58rem;
    margin: 0.8rem auto 0.4rem;
    height: 0.8rem;
    line-height: 0.8rem;
  }
  .swiper-button-next,
  .swiper-button-prev{
    background: transparent;
    margin-top: 0.8rem;
    @include size(0.28rem,0.28rem);
    border-bottom: #000 0.06rem solid;
  }
  .swiper-button-next{
    border-right: #000 0.06rem solid;
    @include transform(rotate(-45deg));
    right: 5px;
    @include animation(gonext 1s 1s infinite);
    @include keyframes(gonext){
      0%{
        right: 15px;
        opacity: 0;
      }
      100%{
        right: 8px;
        opacity: 1;
      }
    }
    &.swiper-button-disabled{
      display: none;
    }
  }
  .swiper-button-prev{
    border-left: #000 0.06rem solid;
    @include transform(rotate(45deg));
    left: 5px;
    @include animation(goprev 1s 1s infinite);
    @include keyframes(goprev){
      0%{
        left: 15px;
        opacity: 0;
      }
      100%{
        left: 8px;
        opacity: 1;
      }
    }
    &.swiper-button-disabled{
      display: none;
    }
  }
  .item-match-me{
    .show-word{
      opacity: 1;
      @include transition(opacity 1s);
      span{
        //@include transition(opacity 1s);
      }
    }
  }
  .show-word{
    left: 54%;
    top: 51%;
  }
  .item-match-you{
    .show-word{
      opacity: 1;
      @include transition(opacity 1s 2s);
      span{
        //@include transition(opacity 1s 1s);
        //@include transition(opacity 1s 2s);
      }
      .sw-1{
        @include transition(opacity 1s 2s);
      }
      .sw-2{
        @include transition(opacity 1s 2.5s);
      }
      .sw-3{
        @include transition(opacity 1s 3s);
      }
      .sw-4{
        @include transition(opacity 1s 3.5s);
      }
    }
  }
  .swiper-slide-active{
    .generate-show{
      .item-match{
      }
      .item-match-me{
        @include transform(scale(1.05));
        .show-word{
          opacity: 1;
          //@include transition(opacity 1s 1s);
          span{
            //@include transition(opacity 1s);
            opacity: 1;
          }
        }
      }
      .item-match-you{
        @include transform(scale(1.05));
        .show-word{
          opacity: 1;
          //@include transition(opacity 1s 2s);
          span{
            opacity: 1;
            //@include transition(opacity 1s 1s);
          }
        }
      }
      .show-word{
        span{
          //opacity: 1;
        }
      }
    }
  }
}
.generate-show{
  //background: #f4f4f6;
  color: #000;
  //border: #fff 5px solid;
  box-sizing: border-box;
  .item-match{
    position: absolute;
    top: 0;
    width: 1.68rem;
    height: 100%;
    @include transform(scale(1));
  }
  .item-match-me{
    left: 0;
    @include transition(all 1s);
  }
  .item-match-you{
    right: 0;
    @include transition(all 1s 2s);
  }
  .match-des{
    width: 2.26rem;
    margin: 0 auto;
  }
  .match-percent{
    margin: 0.7rem auto 0.3rem;
    text-align: center;
    label{
      //width: 3.11rem;
      display: block;
      text-indent: -999em;
      background: url("../images/m-2.png") no-repeat;
      background-size: 3.11rem;
      background-position: -72% 0;
    }
    .num{
      font-size: 0.8rem;
      font-weight: lighter;
      position: relative;
      padding-right: 0.2rem;
      sup{
        position: absolute;
        top: 0;
        right: -0.2rem;
        font-size: .36rem;
      }
    }
  }
  .fromto{
    span{
      display: block;
      margin-bottom: 0.1rem;
    }
    .fromlabel,.andlabel{
      text-indent: -999em;
      background: url("../images/m-2.png") no-repeat;
      background-size: 3.11rem;
      //background-position: -45% 0;
    }
    .fromlabel{
      background-position: -93% 29%;
    }
    .andlabel{
      background-position: -100% 60%;
    }
    .name-me,.name-you{
      text-align: center;
      font-size: 0.2rem;
      font-weight: lighter;
      color: #484848;
    }

  }
  .show-word{
    opacity: 0;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
    span{
      opacity: 0;
    }
  }
}